@import "base/typography";

body {
  font-family: $sans;
}

p {
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: $sans;
  line-height: 1.5em;

  a {
    color: $cdr-blue;
  }
}

h1 {
  margin-top: 32px;
  margin-bottom: 6px;
  font-weight: bold;

  @media only screen and (max-width : 480px) {
    font-size: 26px;
  }
}

h2 {
  font-weight: 400;
  font-style: italic;
  margin-top: 1em;

  @media only screen and (max-width : 480px) {
    font-size: 20px;
  }
}

h3 {
  font-weight: 400;
  margin-top: 1.5em;

  @media only screen and (max-width : 480px) {
    font-size: 16px;
  }
}

a.twitter-timeline {
  font-style: $sans;
}

.entry-content {
    font-size: 14px;
    @media only screen and (min-width: 768px) {
        font-size: 16px;
    }
}

q {
    font-style: italic;
    &:before {
        content: "\201C";
    }
    &:after {
        content: "\201D";
    }
}


#shout-out {
  h1, h2 {
    color: $white;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);

    a {
      color: $white;
    }
  }

  h2 {
    margin-top: 0.1em;
  }

  @media only screen and (max-width : 680px) {
    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 26px;
    }
  }
}

