<section id="codrtv-preview" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Subscribe Now</h3>
  </div>
  <div class="panel-body">
    <figure>
      <a href="http://codr.tv"><img class="img-responsive" src="/images/codrtv-preview.png"></a>
      <figcaption class="row">
        <div class="pill">
          <a href="http://codr.tv"><img style="display:inline;" src="/images/codrtv-small.png"></a>
        </div>
        <div class="pill last">
          <a href="http://codr.tv">Codr.TV</a>, <em>the channel for coders.</em>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
