<section id="codrtv-preview" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Like this article?</h3>
  </div>
  <div class="panel-body">
    <h4>Join 1000's of your peers!</h4>
    <p>Regular articles and videos delivered to your inbox.</p>

    <form action="https://codr.us8.list-manage.com/subscribe/post?u=b192aa6a03c55fa9c7fa52295&amp;id=6da3af9be7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_b192aa6a03c55fa9c7fa52295_6da3af9be7" tabindex="-1" value=""></div>

      <div class="wrapper--input">
        <input tabindex="1" class="input--email" type="email" placeholder="Your email* address..." value="" name="EMAIL" class="required email" id="mce-EMAIL" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
        sagittis lacus vel augue laoreet rutrum faucibus.">
        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn--submit">Subscribe</button>
      </div>
      <small>* We <strong>never</strong> spam. Pinkie swear.</small>
    </form>

  </div>
</section>
