{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
    <div id="wrap">
      <header role="banner">
        {% include navigation.html %}
      </header>
      <div id="main" class="container">

        <div class="header row">

          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-8 header-left">
            <div id="shout-out">
              <div class="pill">
                <a href="{{ root_url }}"><img src="{{ root_url }}/images/chlogo.png"></a>
              </div>
              <div class="pill last">
                <h1>
                  <a href="{{ root_url }}">{{site.title}}</a>
                  <span><em>by Codehire</em></span>
                </h1>
                <h2>{{site.subtitle}}</h2>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-sm-7 col-xs-12 col-lg-4 header-right">
            <div id="carbonads-container">
              <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=codehirecom" id="_carbonads_js"></script>
            </div>
          </div>
        </div>

        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
      <footer role="contentinfo">{% include footer.html %}</footer>
      {% include after_footer.html %}
    </div>
    <script src="//my.hellobar.com/2b6ea3a0f08a37294c49724ae414364d325392a9.js" type="text/javascript" charset="utf-8" async="async"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-553f802c2538ac15" async="async"></script>
  </body>
</html>
